@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Russo+One|Staatliches&display=swap');
*{
cursor: none;
}
body {
    overflow: hidden;
    animation: fadein 1s;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#cursor {
    width: 25px;
    height: 25px;
    position: fixed;
    z-index: 10000;
    transform:rotate(90deg);
    filter: invert(1);
}
.backgroundImg img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(1px);
}

::-webkit-scrollbar {
    width: 0.3vw;
    background-color: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb {
    background-color: #3ca918;
}

a {
    color: #3ca918;
}

.menu {
    list-style-type: none;
    margin: 0vw;
    padding: 0vw;
    position: absolute;
    width: 80vw;
    height: 5vw;
    left: 20vw;
    line-height: 2vw;
}